.login {
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register {
  background-color: #f8f9fa;
}
.register-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.siswa {
  background-color: #f8f9fa;
}
.table-container {
  margin: 2rem;
}
